<!DOCTYPE html>
<html manifest="/static/boilerplate-website.appcache">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name=apple-mobile-web-app-capable content=yes />
    <meta name=apple-mobile-web-app-status-bar-style content=black />
    <meta name="format-detection" content="telephone=no" />
    <link rel="apple-touch-startup-image" href="" />
    <link rel="apple-touch-icon" href="" />
    <link rel="apple-touch-icon" sizes="152x152" href="" />
    <link rel="apple-touch-icon" sizes="180x180" href="" />
    <link rel="apple-touch-icon" sizes="167x167" href="" />
    <title>{{title}} - nodejs-express-handlebars-boilerplate</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='/static/css/style.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/script.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
